﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>deg</title>
</head>
<body>
	<form method="post" action="/ctr/ShowDeg">
		@{ int i = 1; }
		@foreach (var itm in ViewBag.dict)
		{
			string id = "id" + i;
			string deg = "deg" + i;
			<input type="text" name=@id placeholder="Id" value="@itm.Key" />
			<input type="text" name=@deg placeholder="Degree" />
			i = i + 1;
			<br />
		}
		<input type="submit" value="Submit" />
	</form>

</body>
</html>
