﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Std</title>
</head>
<body>
	<form action="/ctr/ShowStd" method="post" enctype="multipart/form-data">
		<input type="text" name="id" placeholder="Id" />
		<input type="text" name="name" placeholder="Name" />
		<input type="text" name="age" placeholder="Age" />
		<input type="file" name="f" />
		<br /> <br />
		<input type="submit" name="Submit"/>
	</form>
</body>
</html>
