﻿@page "{id}"
@model MyApp.Pages.Dept_detailsModel
@{
}

<h1>@Model.Dept.Dept_Id</h1>
<h2>@Model.Dept.Dept_Name</h2>
<h1>Students:</h1>
@foreach(var s in Model.Dept.Students)
{
	<span>@s.Std_Name</span>
}