﻿@page
@model MyApp.Pages.StdModel
@{
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<a class="accordion-button" asp-page="Create" >Add Student</a>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Department</th>
			<th>Age</th>
			<th>Opeartions</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var itm in Model.Students)
		{
			<tr>
				<td>@itm.Std_Id</td>
				<td>@itm.Std_Name</td>
				<td>@itm.Dept.Dept_Name</td>
				<td>@itm.Std_Age</td>
				<td>
					<a class="button" asp-page="details" asp-route-id="@itm.Std_Id">Deatils</a>
					<a asp-page="update" asp-route-id="@itm.Std_Id">Update</a>
					<a asp-page="delete" asp-route-id="@itm.Std_Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
