﻿@model DeptSearchViewModel
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<br />
		<br />
		<form>
			<input asp-for="SearchText" />
			<select asp-items="@Model.DepartmentSelectList" asp-for="SelectedDept"> </select>
			<input type="submit" value="Filter" />
		</form>
		<br />
		<br />
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Location</th>
					<th>Operations</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model.Depts)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.Name</td>
						<td>@item.Location</td>
						<td>
							<a asp-route-id=@item.Id asp-controller="Dept" asp-action="Details" class="btn btn-info">Details</a>
							<a asp-route-id=@item.Id asp-controller="Dept" asp-action="Delete" class="btn btn-danger">Delete</a>
							<a asp-route-id=@item.Id asp-controller="Dept" asp-action="Edit" class="btn btn-warning">Edit</a>
						</td>
					</tr>
				}
			</tbody>

		</table>
	</div>
	<a asp-action="CreateDept" asp-controller="Dept" class="btn btn-primary">Create New Department</a>
</body>
</html>
