﻿@model IEnumerable<Dept>
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Location</th>
					<th>Operations</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model)
       {
				<tr>
					<td>@item.Id</td>
					<td>@item.Name</td>
					<td>@item.Location</td>
					<td>
						<input type="submit" value="Details" class="btn btn-primary" />
						<input type="submit" value="Delete" class="btn btn-primary" />
						<input type="submit" value="Edit" class="btn btn-primary" />
					</td>
				</tr>
        }
			</tbody>

		</table>
	</div>
	<a asp-action="CreateDept" asp-controller="Dept" class="btn btn-primary">Create New Department</a>
</body>
</html>
